
**/node_modules/

**/.env/

api-gateway/node_modules
api-gateway/.env
partage/node_modules
services/auth-service/node_modules
services/user-service/node_modules
services/user-service/.env
services/auth-service/.env

